version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: andriel-cronmaster_server_1
      APP_PORT: 3000
      PROXY_AUTH_ADD: "false"

  server:
    image: ghcr.io/fccview/cronmaster:latest
    platform: linux/arm64
    user: root
    restart: on-failure
    init: true
    pid: host
    privileged: true
    environment:
      - NODE_ENV=production
      - DOCKER=true
      - NEXT_PUBLIC_CLOCK_UPDATE_INTERVAL=30000
      - AUTH_PASSWORD=echo
      - HOST_CRONTAB_USER=root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${APP_DATA_DIR}/scripts:/app/scripts
      - ${APP_DATA_DIR}/data:/app/data
      - ${APP_DATA_DIR}/snippets:/app/snippets
