version: "3.7"

services:
  # O Proxy garante que apenas você logado no Umbrel acesse o app
  app_proxy:
    environment:
      APP_HOST: andriel-cronmaster_server_1
      APP_PORT: 3000
      PROXY_AUTH_ADD_NO_AUTH: "false"

  server:
    image: ghcr.io/fccview/cronmaster:main
    container_name: andriel-cronmaster_server_1
    # 'root' é obrigatório para acessar o docker.sock e o cron interno
    user: "root"
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      # 1. Dados da aplicação (scripts, configurações)
      - ${APP_DATA_DIR}/data:/data

      # 2. ISOLAMENTO DO CRON:
      # Mapeamos uma pasta do app para ser a pasta de crontabs do container.
      # Assim, ele salva os agendamentos no disco do Umbrel, mas NÃO toca no sistema operacional.
      - ${APP_DATA_DIR}/crontabs:/var/spool/cron/crontabs

      # 3. CONTROLE DO DOCKER (Para conversar com o Arcane):
      # Permite rodar comandos como "docker start arcane" ou "docker restart plex"
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      - DOCKER=true
      - NODE_ENV=production
      # Define que o usuário interno do cron é root (necessário para executar docker CLI)
      - HOST_CRONTAB_USER=root
      - PORT=3000
      # Define o fuso horário para bater com o servidor (Opcional, mas recomendado)
      - TZ=America/Sao_Paulo
