version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: andriel-cronmaster_server_1
      APP_PORT: 3000
      PROXY_AUTH_ADD: "false"

  server:
    image: ghcr.io/fccview/cronmaster:latest
    platform: linux/arm64
    user: root
    restart: on-failure
    init: true
    entrypoint:
      [
        "/bin/sh",
        "-c",
        "rm -f /.dockerenv && echo '0::/init.scope' > /tmp/fake-cgroup && mount --bind /tmp/fake-cgroup /proc/1/cgroup 2>/dev/null || true && apt-get update && apt-get install -y cron && service cron start && exec yarn start",
      ]
    environment:
      NODE_ENV: production
      DOCKER: "false"
      NEXT_PUBLIC_CLOCK_UPDATE_INTERVAL: "30000"
      AUTH_PASSWORD: $APP_PASSWORD
    volumes:
      - ${APP_DATA_DIR}/scripts:/app/scripts
      - ${APP_DATA_DIR}/data:/app/data
      - ${APP_DATA_DIR}/snippets:/app/snippets
