version: "3.7"

services:
  app_proxy:
    environment:
      # Formato: <app-id>_<service-name>_1
      # Assumindo que o ID do app no umbrel-app.yml é 'custom-waha'
      APP_HOST: andriel-waha_server_1
      APP_PORT: 3000

  server:
    image: devlikeapro/waha:latest
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 1m
    environment:
      # Credenciais Padrão para o Umbrel (O usuário deve alterar depois ou você fixa aqui)
      - WAHA_DASHBOARD_USERNAME=admin
      - WAHA_DASHBOARD_PASSWORD=umbrel
      - WHATSAPP_SWAGGER_USERNAME=admin
      - WHATSAPP_SWAGGER_PASSWORD=umbrel
      - WAHA_API_KEY=umbrel
      # URL base interna
      - WAHA_BASE_URL=http://umbrel.local:3000
      # Configurações de performance
      - WAHA_PRINT_QR=false
    volumes:
      # Persistência de dados usando a variável do Umbrel
      - ${APP_DATA_DIR}/sessions:/app/sessions
      - ${APP_DATA_DIR}/files:/app/files
      - ${APP_DATA_DIR}/thumbnails:/app/thumbnails
