version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: andriel-waha_server_1
      APP_PORT: 3000

  server:
    # Use ARM-compatible image for Raspberry Pi and other ARM devices
    image: devlikeapro/waha:arm
    restart: on-failure
    user: "0:0"
    environment:
      # Dashboard credentials
      WAHA_DASHBOARD_ENABLED: "true"
      WAHA_DASHBOARD_USERNAME: "admin"
      WAHA_DASHBOARD_PASSWORD: 2vIWwQ3UPqA92vM2xuepD39Qo0v_5iELacKrvr4QbfRvnqSJF
      # Swagger credentials
      WHATSAPP_SWAGGER_USERNAME: "admin"
      WHATSAPP_SWAGGER_PASSWORD: 2vIWwQ3UPqA92vM2xuepD39Qo0v_5iELacKrvr4QbfRvnqSJF
      # API Key
      WAHA_API_KEY: 2vIWwQ3UPqA92vM2xuepD39Qo0v_5iELacKrvr4QbfRvnqSJF
    volumes:
      - ${APP_DATA_DIR}/data/sessions:/app/.sessions
      - ${APP_DATA_DIR}/data/media:/app/.media
