version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: andriel-waha_server_1
      APP_PORT: 3000

  server:
    image: devlikeapro/waha:latest
    user: "1000:1000"
    restart: on-failure
    environment:
      # Dashboard and Swagger credentials
      WAHA_DASHBOARD_ENABLED: "true"
      WAHA_DASHBOARD_USERNAME: "admin"
      WAHA_DASHBOARD_PASSWORD: "${APP_PASSWORD}"
      WHATSAPP_SWAGGER_USERNAME: "admin"
      WHATSAPP_SWAGGER_PASSWORD: "${APP_PASSWORD}"
      # API Key for authentication
      WAHA_API_KEY: "${APP_PASSWORD}"
      # Data storage path
      WAHA_FILES_FOLDER: "/data/files"
      WAHA_FILES_LIFETIME: "180"
    volumes:
      - ${APP_DATA_DIR}/data:/data
