version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: andriel-kestra_server_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"

  server:
    image: kestra/kestra:latest
    container_name: kestra
    # O modo standalone é mais leve e inclui tudo (Webserver, Executor, Scheduler)
    command: server standalone
    # Rodar como root garante permissões de escrita nos volumes do Umbrel sem dor de cabeça
    user: "root"
    restart: on-failure
    volumes:
      # Persistência dos dados (Flows, Execuções, Logs)
      - ${APP_DATA_DIR}/data:/app/storage
      # Opcional: Para configurações customizadas avançadas
      - ${APP_DATA_DIR}/confs:/app/confs
    environment:
      KESTRA_CONFIGURATION_PATH: /app/confs/application.yml
      # Repositório de metadados deve ser um banco de dados. Usamos 'h2' (embutido)
      KESTRA_REPOSITORY_TYPE: h2
      # Fila também precisa ser compatível. Usamos 'h2' para simplificar no standalone
      KESTRA_QUEUE_TYPE: h2
      # Storage de arquivos grandes pode ser local ('local')
      KESTRA_STORAGE_TYPE: local
      # Define onde o H2 vai salvar o arquivo do banco (persistência)
      KESTRA_DATASOURCE_URL: jdbc:h2:file:/app/storage/kestra;DB_CLOSE_ON_EXIT=FALSE
      KESTRA_SERVER_PORT: 8080
      # Plugins e configurações adicionais
      KESTRA_PLUGINS: ""
