version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: andriel-ngrok_server_1
      APP_PORT: 4040
      PROXY_AUTH_ADD: "false"

  server:
    image: ngrok/ngrok:latest
    restart: on-failure
    command:
      - "http"
      - "http://andriel-waha_server_1:3000"
      - "--log=stdout"
    environment:
      NGROK_AUTHTOKEN: $APP_NGROK_AUTHTOKEN
